# Managed by Ansible
agentAddress  {{ snmp_agent_address }}

sysLocation   {{ snmp_syslocation }}
sysContact    {{ snmp_syscontact }}

master        agentx

{% if snmp_enable_v2c %}
view   systemonly  included   .1.3.6.1.2.1.1
view   systemonly  included   .1.3.6.1.2.1.25.1

# rocommunity: a SNMPv1/SNMPv2c read-only access community name
#   arguments:  community [default|hostname|network/bits] [oid | -V view]
# Read-only access to everyone to the systemonly view
rocommunity   {{ snmp_ro_community }} default -V systemonly
rocommunity6  {{ snmp_ro_community }} default -V systemonly
{% endif %}

{% if snmp_enable_v3 %}
view   all included .1
# SNMPv3 doesn't use communities, but users with (optionally) an
# authentication and encryption string. This user needs to be created
# with what they can view with rouser/rwuser lines in this file.
#
# createUser username (MD5|SHA|SHA-512|SHA-384|SHA-256|SHA-224) authpassphrase [DES|AES] [privpassphrase]
# e.g.
# createuser authPrivUser SHA-512 myauthphrase AES myprivphrase

createUser {{ snmp_user }} SHA-512 "{{ snmp_pass}}"

# This should be put into /var/lib/snmp/snmpd.conf
#
# rouser: a SNMPv3 read-only access username
#    arguments: username [noauth|auth|priv [OID | -V VIEW [CONTEXT]]]
rouser {{ snmp_user }} auth -V all
{% endif %}

# include a all *.conf files in a directory
includeDir /etc/snmp/snmpd.conf.d
